<div class="col-md-6">
  <form id="contactform">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="FullName">First Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="FullName">Last name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Your Email Address</label>
          <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Your Phone Number</label>
          <input type="text" class="form-control" id="PhoneNumber" aria-describedby="emailHelp" placeholder="Phone Number">
          <small id="PhoneNumberHelp" class="form-text text-muted">Use form 2126xxxxxxxx</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
