<section id="Contact">
<div class="container">
  <h1>Contact</h1>
  <br>
  <div class="row">
    <div class="col-md-6 mb-5">
      {% include localization.html %}
      <div class="container mt-3 ">
      <p><span><b><i class="fa fa-envelope" aria-hidden="true"></i></b></span>&nbsp&nbsp      vision@gmail.com</p>
      <p><span><b><i class="fa fa-phone" aria-hidden="true"></i></b></span>&nbsp&nbsp      +212 (0) 6 00 00 00 00</p>
      </div>
    </div>
    {% include contactform.html %}
    </div>

  </div>
</section>
