<section style="height: 120vh" class="section" id="Contact">
<div class="container">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
  <br>
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="container mt-3 ">
      <p><span><b><i class="fa fa-envelope" aria-hidden="true"></i></b></span>&nbsp&nbsp      vision@gmail.com</p>
      <p><span><b><i class="fa fa-phone" aria-hidden="true"></i></b></span>&nbsp&nbsp      +212 (0) 6 00 00 00 00</p>
      </div>
      {% include localization.html %}
    </div>
    {% include contactform.html %}
    </div>

  </div>
</section>
