<section id="Gallery">
  <div class="container">
    <h1>Gallery</h1>
    <br>
    <div class="row gallery-form">
          <div class="col-3"><a  href="/assets/img/gallery/vision-pic1.jpg"><img class="img-fluid img-thumbnail" src="/assets/img/gallery/vision-pic1.jpg" /></a></div>
          <div class="col-3"><a  href="/assets/img/gallery/vision-pic2.jpg"><img class="img-fluid img-thumbnail" src="/assets/img/gallery/vision-pic2.jpg" /></a></div>
          <div class="col-3"><a  href="/assets/img/gallery/vision-pic3.jpg"><img class="img-fluid img-thumbnail" src="/assets/img/gallery/vision-pic3.jpg" /></a></div>
          <div class="col-3"><a  href="/assets/img/gallery/vision-pic4.jpg"><img class="img-fluid img-thumbnail" src="/assets/img/gallery/vision-pic4.jpg" /></a></div>
      </div>
    </div>
</section>
