<section style="height: 10vh" class="section" id="Gallery">
  <div class="container">
    <h1>Gallery</h1>
    <br>
    <div class="row">
    <div class="gallery">
      <a target="_blank" href="/assets/img/gallery/vision-pic1.jpg">
        <img src="/assets/img/gallery/vision-pic1.jpg" alt="5Terre" width="600" height="400">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="/assets/img/gallery/vision-pic2.jpg">
        <img src="/assets/img/gallery/vision-pic2.jpg" alt="Forest" width="600" height="400">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="/assets/img/gallery/vision-pic3.jpg">
        <img src="/assets/img/gallery/vision-pic3.jpg" alt="Northern Lights" width="600" height="400">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="/assets/img/gallery/vision-pic4.jpg">
        <img src="/assets/img/gallery/vision-pic4.jpg" alt="Mountains" width="600" height="400">
      </a>
    </div>
  </div>
  </div>
</section>
