<section style="height: 120vh" class="section" id="Gallery" class="section-preview">
  <div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Gallery</h2>
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <div class="gallery">
          <a target="_blank" href="/assets/img/gallery/vision-pic1.jpg">
            <img src="/assets/img/gallery/vision-pic1.jpg" class="img-fluid z-depth-4" width="450" height="200">
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="gallery">
          <a target="_blank" href="/assets/img/gallery/vision-pic2.jpg">
            <img src="/assets/img/gallery/vision-pic2.jpg" class="img-fluid z-depth-2" width="600" height="400">
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="gallery">
          <a target="_blank" href="/assets/img/gallery/vision-pic3.jpg">
            <img src="/assets/img/gallery/vision-pic3.jpg" class="img-fluid z-depth-4" width="600" height="400">
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <div class="gallery">
          <a target="_blank" href="/assets/img/gallery/vision-pic4.jpg">
            <img src="/assets/img/gallery/vision-pic4.jpg" class="img-fluid z-depth-4" alt="Mountains" width="600" height="400">
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="gallery">
          <a target="_blank" href="/assets/img/gallery/vision-pic5.jpg">
            <img src="/assets/img/gallery/vision-pic5.jpg" class="img-fluid z-depth-2" width="600" height="400">
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="gallery">
          <a target="_blank" href="/assets/img/gallery/vision-pic6.jpg">
            <img src="/assets/img/gallery/vision-pic6.jpg" class="img-fluid z-depth-2" width="600" height="400">
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
  </section>
