<section id="Services">
  <div class="container">
    <h1> Services </h1>
    <hr class="dark my-4">
    <div class="row">
      <div class="col  revealOnScroll">
        <div data-animation="flipInX" data-timeout="400"  class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/photographie.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Photographie</h5>
            </div>
          </div>
      </div>
      <div class="col  revealOnScroll">
        <div data-animation="flipInX" data-timeout="800"  class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/montage.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Montage</h5>
            </div>
          </div>
      </div>
      <div class="col  revealOnScroll">
        <div data-animation="flipInX" data-timeout="1200"  class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/webdesign.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Web design</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/infographie.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Infoghraphie</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/animation.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Animation</h5>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/writing.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Rédaction</h5>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
    </div>

  </div>

</section>
