<section style="height: 100vh" class="section" id="Videos">
  <div class="flex-center flex-column">
  <div class="container">

    <h2 class="h1-responsive font-weight-bold text-center my-5">Video</h2>
    <hr>
    <div class="row">
    <div class="flex-center flex-column">
  <a class="popup-youtube" href="https://www.youtube.com/watch?v=2NXKE-QclvQ"><img src="assets/img/video/projection_de_film.jpg" width='300px' height='300px' class="img-thumbnail" ></a>
  </div>
  </div>
</div>
</div>
</section>
