---
---
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-size: cover;
  margin-bottom: 60px;
  margin-top: 70px;
  padding: 0;
  height: 100%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.section {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
    padding-top: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #343a40;
}
.jumbotron {
              background-image: url(../../assets/img/cover.jpg);
              background-size: cover;
              height: 100%;
              padding-top: 10%;
              padding-bottom: 13%;
            }
header {
              background-color: #D1D0D0;
              background-size: cover;
              height: 100%;
              padding-top: 10%;
              padding-bottom: 10%;
}
/*
#Services {
              padding-top: 0%;
              padding-bottom: 5%;
}
#Videos {
              padding-top:1%;
              padding-bottom: 5%;
              margin-top: 1px;
            }

#Gallery {
              padding-top: 5%;
              padding-bottom: 15%;
}


}
#Contact {
              padding-top:15%;
              padding-bottom: 5%;
}*/
.container .row .col {
              padding-top: 0%;
              padding-bottom: 3%;

}
div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}


div.gallery img {
  width: 100%;
  height: auto;
}



/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.8;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-instagram {
  color: white;
}
